img{
  border-radius: 300px;
}
h2{
  font-size: 20px;
}
body{
  background-color: #0e76a8;
  font-family: Trebuchet MS;
  color: white;
  text-align: center;
}
.botoes{
  background-color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  display: block;
  text-align: center;
  color: #0e76a8;
  width: 300px;
  margin: 10px auto;
}


